.profile-update-main {
  text-align: center;
}

.profile-update-title {
  text-align: center;
  margin-top: 15%;
}

.profile-update-table {
  border-collapse: collapse;
  width: 60%;
  height: 100px;
  margin: auto;
}

.profile-update-th,
.profile-update-td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.profile-update-input {
  border-radius: 3px;
  height: 20px;
}

.profile-update-error {
  color: red;
  text-align: center;
}
