.recieve-info-main {
  text-align: center;
}

.recieve-info-table {
  border-collapse: collapse;
  margin: auto;
}

.recieve-info-th,
.recieve-info-td {
  padding: 8px;
  text-align: left;
}

.recieve-info-textarea {
  border: none;
  resize: none;
  background-color: white;
  font-weight: bold;
}
