.sign-in-main {
  text-align: center;
}

.sign-in-form {
  border: 3px solid #f1f1f1;
  border-radius: 3px;
  height: 100%;
  margin-top: 10%;
  padding: 70px 0 70px 0;
}

.sign-in-title {
  font-size: 50px;
}

.sign-in-google-btn {
  width: 210px;
  margin-top: 30px;
}
